* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
}

button {
	cursor: pointer;
}

[disabled] {
    opacity: 0.75;
    cursor: not-allowed;

    color: #aaa;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%; /* 15px */
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%; /* 14px */
    }
}

:root {
	--background: #161a23;
    --light-background: #1b202b;

    --black: #050001;
    --white: #fcfffb;

    --yellow: #ffa833;
    --green: #42d28a;
    --purple: #8d6cf3;
}

body {
    background: var(--background);
    color: var(--white);

    font-family: sans-serif;

    height: 100vh;

    display: flex;
}

#side-panel {
    height: 100vh;
    padding: .8rem;

    background: var(--light-background);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: relative;
}

#side-panel > button {
    padding: .6rem 1.8rem;

    background: var(--yellow);
    color: var(--black);

    border: none;
    border-radius: 4px;

    font-size: 1.2rem;

    display: flex;
    align-items: center;
    gap: 1.2rem;
}

#side-panel > button[data-active="true"] {
    background: var(--green);
}

#side-panel > button:hover {
    filter: brightness(85%);
}

#side-panel > button > span {
    font-size: 1.8rem;
}

main {
    width: 100%;
    height: 100vh;

    display: flex;
}

.panel-form {
    display: none;

    margin: 2rem auto auto auto;

    width: auto;

    background: var(--background);
    color: var(--white);

    box-shadow: 0 0 5px var(--light-background);

    border-radius: 4px;
    overflow-x: hidden;

    /* display: flex; */
    flex-direction: column;
    /* gap: .8rem; */
}

.panel-form > header {
    padding: .8rem;

    font-size: 1.2rem;
    font-weight: 600;

    background: var(--light-background);

    position: relative;

    display: flex;
    gap: .8rem;
}

.panel-form > header > .close-form {
    border: none;
    border-radius: 4px;

    margin-left: auto;
    padding: .2rem .35rem;

    background: var(--purple);
    color: var(--white);

    text-align: center;
}

.panel-form > .form-input-container {
    padding: .8rem;

    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.panel-form > .form-input-container > .form-input {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.panel-form > .form-input-container > .form-input > input {
    opacity: 1;

    background: var(--light-background);
    color: var(--white);

    border: none;
    border-radius: 4px;

    font-size: 1rem;
    
    padding: .4rem;
}

.panel-form > .form-input-container > .form-input > input:disabled {
    color: #aaa;
}

.panel-form > .form-button-container {
    padding: .8rem;

    display: flex;
    gap: .8rem;
}

.panel-form > .form-button-container > div:nth-child(2) {
    margin-left: auto;
}

.panel-form > .form-button-container .form-button {
    padding: .4rem .6rem;

    border: none;
    border-radius: 4px;

    background: var(--light-background);
    color: var(--white);

    font-weight: 600;
}

.panel-form > .form-button-container #form-clients__client-prev, #form-clients__client-next {
    background: var(--purple);
}

.panel-form > .form-button-container #form-clients__client-new {
    background: var(--green);
}

.panel-form > .form-button-container #form-clients__client-save {
    background: var(--yellow);
}

.panel-form > .form-button-container #form-products__product-prev, #form-products__product-next {
    background: var(--purple);
}

.panel-form > .form-button-container #form-products__product-new {
    background: var(--green);
}

.panel-form > .form-button-container #form-products__product-save {
    background: var(--yellow);
}